.DS_Store
# Local Netlify folder
_RAW
.netlify
.words
.draft
.firebaserc
firebase.json
.firebase
CNAME
public
node_modules
.hugo_build.lock
#package.json
package-lock.json
fleek.config.json
jsconfig.json
resources
resources/_gen