{{ define "main" }}

<section class="site-blog-header">
	<div class="container">
	<div class="row">
	<div class="col-lg-12 mx-auto">
	<div class="site-story-single text-center">
	<h1 class="h5">{{ .Title }}</h1>
	</div>
	<div class="row justify-content-center">

	{{ range sort ((.Page.Resources.ByType "image").Match "photo*") ".Name" "asc" }}
		{{ $small := .Fit "360x540 webp" }}
		<div class="col-sm-6 col-lg-4 mb-4">
		<div class="card">
		<a href="{{.RelPermalink}}" data-fancybox="gallery">
		<img src="{{ $small.RelPermalink }}" class="card-img-top img-fluid rounded" alt="{{ .Title }}" loading="lazy"></a>
		</div></div>
	{{ end }}
	</div>
	</div>
	</div>
	</div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}