{{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="site-story-single text-center">
      <h1 class="h5">{{ .Title }}</h1>
      <p>{{ .Params.stitle }}</p>
    </div>
    <br><br>

    <div class="gallery" id="gallery" style="visibility: hidden; height: 1px; overflow: hidden" itemscope itemtype="http://schema.org/ImageGallery">
	<meta itemprop="Url" content="{{ .Permalink }}">
        {{ with site.Params.Owner.Name }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ . }}">
          </span>
        {{ end }}
      {{ range sort ((.Page.Resources.ByType "image").Match "*") "Exif.Date" "desc" }}
        {{ $small := .Filter (slice images.AutoOrient (images.Process "fit 640x640")) }}
        {{ $full := .Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}

        {{ with site.Params.watermark }}
          {{ $watermark := resources.Get .image }}
          {{ if $watermark }}
            {{ $maxWidth := div $full.Width 5 }}
            {{ $watermark = cond (gt $watermark.Width $maxWidth) ($watermark.Resize (printf "%dx" $maxWidth)) $watermark }}
            {{ $padding := 20 }}
            {{ $x := cond (eq (.posx | default "right") "center") (sub (div $full.Width 2) (div $watermark.Width 2)) 
                          (cond (eq (.posx | default "right") "right") (sub $full.Width (add $watermark.Width $padding)) $padding) }}
            {{ $y := cond (eq (.posy | default "bottom") "center") (sub (div $full.Height 2) (div $watermark.Height 2)) 
                          (cond (eq (.posy | default "bottom") "bottom") (sub $full.Height (add $watermark.Height $padding)) $padding) }}
            {{ $full = $full.Filter (images.Overlay $watermark $x $y) }}
          {{ end }}
        {{ end }}

        {{ $color := index $small.Colors 0 | default "transparent" }}
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a class="gallery-item" 
           href="{{ $full.RelPermalink  }}" 
           data-pswp-src="{{ $full.RelPermalink }}" 
           data-pswp-width="{{ $full.Width }}" 
           data-pswp-height="{{ $full.Height }}" 
           itemprop="Url" 
           style="aspect-ratio: {{ $small.Width }} / {{ $small.Height }}">
          
            <img style="background-color: {{ $color }}; aspect-ratio: {{ $small.Width }} / {{ $small.Height }}" src="{{ "/thumbs" | absURL }}{{ $small.RelPermalink }}" class="lazyload" 
                 width="{{ $small.Width }}" 
                 height="{{ $small.Height }}" 
                 data-src="{{ $small.RelPermalink  }}" 
                 alt="{{ .Exif.Tags.Make | default "" }} {{ .Exif.Tags.Model | default "" }} {{ .Exif.Tags.ImageDescription | default "" }}" itemprop="thumbnail" >
          
        </a></figure>
      {{ end }}
    </div>
	        
  </div>
</section>
<br><br>
{{ partial "call-to-action.html" . }}

{{ end }}
