<footer class="site-footer">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.footer.contactInfo }}
      <div class="col-lg-3 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
            <a href="tel:{{ .phone }}">{{ .phone }}</a>
            <br>
            <a href="/contact">{{ .email }}</a>

          </p>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.sitemap }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <ul class="site-footer-widget-links">
            {{ range .link }}
            <li><a href="{{ .url | absURL }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.social }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <ul class="site-footer-widget-links">
            {{ range .link }}
              <li><a href="{{ .url }}" target="_blank" rel="nofollow noopener">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.service }}
      <div class="col-lg-3 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
            {{ .description | safeHTML }}
          </p>
        </div>
      </div>
      {{ end }}
      <div id="topcontrol" class="col-lg-2 col-12">
        <a href="#top" class="site-footer-widget-top">
          <img src="{{ "images/to-top.svg" | absURL }}" height="33" width="26" loading="lazy" alt="back-to-top" />
          <p>
            I want to 
            <br>
            visit again
          </p>
        </a>
      </div>
    </div>
  </div>
</footer>

{{ $jqbs := resources.Get "js/jquerybootstrap.js" | minify }}
<script src="{{ $jqbs.Permalink }}"></script>

{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>

{{ if isset .Params "form" }}
{{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ end }}

{{ if .Params.lightbox }}
<script src="/js/fancybox.umd.min.js"></script>
{{ end }}