<head>
  <meta charset="utf-8">

  <title>
  {{- if .IsHome -}}
    {{ .Site.Title }} - Home 
  {{- else if .Params.hide_site_title -}}
    {{ .Page.Title }}
  {{- else if .Page.Title -}}
    {{ .Site.Title }} - {{ .Page.Title }}
  {{- else -}}
    {{ .Site.Title }}
  {{- end -}}
</title>

{{- if .IsHome -}}
  <meta name="description" content="{{ site.Params.Description }}">
{{- else -}}
  <meta name="description" content="{{ .Params.Description }}">
{{- end }}

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{ end }}
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}


  <meta name="google-site-verification" content="1n0eAdCQ65L2FKZCbeR1MtY6LJ1fNGBNH0pfoGM3kJI">


  {{ "<!-- Bootstrap -->" | safeHTML }}
  {{ $bootstrap := resources.Get "scss/custom.scss" | resources.ToCSS | minify | resources.Fingerprint "sha512" }}
  <link rel="preload" href="{{ $bootstrap.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ $bootstrap.Permalink }}"></noscript>
  

  {{ "<!-- Main Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify | resources.Fingerprint "sha512" }}
  <link rel="preload" href="{{ $style.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ $style.Permalink }}"></noscript>

  {{ if .Params.lightbox }}
  <link rel="preload" href="{{ "css/fancybox.min.css" | absURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "css/fancybox.min.css" | absURL }}"></noscript>
  {{ end }}

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon">
  <link rel="icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon">

</head>
