<head>
  <meta charset="utf-8">

  <title>
  {{- if .IsHome -}}
    {{ .Site.Title }} - Home 
  {{- else if .Params.hide_site_title -}}
    {{ .Page.Title }}
  {{- else if .Page.Title -}}
    {{ .Site.Title }} - {{ .Page.Title }}
  {{- else -}}
    {{ .Site.Title }}
  {{- end -}}
</title>

{{- if .IsHome -}}
  <meta name="description" content="{{ .Site.Params.Description }}">
{{- else -}}
  <meta name="description" content="{{ .Params.Description }}">
{{- end }}

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{ end }}
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}


  <meta name="google-site-verification" content="1n0eAdCQ65L2FKZCbeR1MtY6LJ1fNGBNH0pfoGM3kJI">

  {{ partialCached "critical.html" . }}

  {{ "<!-- Bootstrap -->" | safeHTML }}
  {{ $opts := dict "transpiler" "libsass" "targetPath" "css/stylesheet.css" }}
  {{ $bootstrap := resources.Get "scss/stylesheet.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link rel="preload" href="{{ $bootstrap.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ $bootstrap.Permalink }}"></noscript>
  
  {{ if .Params.lightbox }}
  <link rel="preload" href="{{ "css/fancybox.min.css" | absURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "css/fancybox.min.css" | absURL }}"></noscript>
  {{ end }}

  {{ if .IsHome }}
  <link rel="preload" as="image" href="{{ .Site.Params.banner.background_image | safeURL | absURL }}">
  <link rel="preload" as="image" href="{{ .Site.Params.call_to_action.background_image | safeURL | absURL }}">
  {{ end }}

  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
  <link rel="icon" href="{{ "favicon.ico" | absURL }}" type="image/x-icon">
  <link rel="manifest" href="{{ "site.webmanifest" | absURL }}">

  <link rel="preload" href="/fonts/montserrat/montserrat-v29-latin-300.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat/montserrat-v29-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat/montserrat-v29-latin-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat/montserrat-v29-latin-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat/montserrat-v29-latin-700.woff2" as="font" type="font/woff2" crossorigin>


</head>
