{{ define "main" }}
{{ with .Site.Params.notFound }}
<section class="site-story-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="site-story-header-content">
          <h1>{{ .title }}</h1>
		  <p>{{ .heading }}</p>

		  <img src="{{ "images/page-not-found.webp" | absURL }}" alt="page not found" class="img-fluid rounded" loading="lazy" />

        </div>
      </div>

    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}
{{ end }}