<div class="gallery" id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
{{ range sort ((.Page.Resources.ByType "image").Match (printf "%s*" (.Get "name"))) ".Name" "asc" }}
{{ $small := .Fit "720x720 webp" }}
{{ $color := index $small.Colors 0 | default "transparent" }}

	<a class="gallery-item" href="{{ .RelPermalink }}" data-pswp-src="{{ .RelPermalink }}" data-pswp-width="{{ .Width }}" data-pswp-height="{{ .Height }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $small.Width }} / {{ $small.Height }}">
	<figure style="background-color: {{ $color }}; aspect-ratio: {{ $small.Width }} / {{ $small.Height }}">
          <img class="lazyload" width="{{ $small.Width }}" height="{{ $small.Height }}" data-src="{{ $small.RelPermalink }}" alt="" />
        </figure>
	</a>
	<meta itemprop="contentUrl" content="{{ .RelPermalink }}" />
         {{ with site.Params.Owner.Name }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ . }}" />
          </span>
		  {{ end }}

{{ end }}
  </div>


{{ .Inner }}